table[x-style] {
  max-width: 100%;
  border-collapse: collapse;

  tr:has(th) {
    background: #656565;

    > th {
      padding: 8px 12px;
      white-space: nowrap;
      position: relative;
      border-top: 0;
      vertical-align: bottom;
      border: 1px solid #dee2e6;
      border-width: 0 1px apx 1px;
      padding: 0.75rem;
      font-weight: 600;
      text-align: inherit;
      color: #FFF;
    }
  }

  tr:has(td) {
    background-color: #FFF;

    &:nth-of-type(even) {
      background-color: #0000000d;
    }

    > td {
      vertical-align: top;
      border: 1px solid #dee2e6;
      border-width: 0 1px 1px 1px;
      padding: 8px 12px;
      font-weight: 400;
      text-align: inherit;

      .head {
        background: #656565;
        color: #FFF;
        padding: 8px 12px;
        margin: -8px -12px 8px -12px;
      }

    }
  }
}
